<template>
  <div id="chartContainer">
    <line-chart :chart-data="datacollection"></line-chart>
    <button @click="start()">Start</button>
    <button @click="stop()">Stop</button>
  </div>
</template>

<script>
  import LineChart from './LineChart.js'

  export default {
    components: {
      LineChart
    },
    data () {
      return {
        datacollection: null,
        intervalID: null,
        xIndex: 0,
        data: [0]
      }
    },
    methods: {
      addData () {
        this.datacollection = {
          labels: this.getX(),
          datasets: [
            {
              label: 'Random data',
              backgroundColor: '#60bfff',
              data: this.getY()
            }
          ]
        }
      },
      getX() {
        return [...Array(this.xIndex++).keys()]
      },
      getY() {
        let n = Math.floor(Math.random() * 5) + 1
        let last = this.data.slice(-1)
        let op = this.getOperator()
        let res = op(last, n)

        if (res > 100) {
          this.data.push(100)
        } else if (res < 0) {
          this.data.push(0)
        } else {
          this.data.push(res)
        }
        return this.data
      },
      getOperator () {
        const dice = Math.floor(Math.random() * 100) 
        if (dice % 2 === 0) {
          return (a, b) => Number(a) + Number(b)
        } else {
          return (a, b) => Number(a) - Number(b)
        }
      },
      start() {
        if (this.intervalID !== null) { return }

        this.intervalID = setInterval(this.addData, 1000)
      },
      stop() {
        clearInterval(this.intervalID)
        this.intervalID = null
      }
    }
  }
</script>

<style>
  #chartContainer {
    max-width: 850px;
    /* max-height: 400px; */
    margin:  20px auto;
  }
</style>